
div.updated.warning {
	border-left-color: #ffba00;
}

.wordcamp-list {
	overflow: hidden;
}

.wordcamp-item {
	float: left;
	padding: 10px;
	width: 30%;
	box-sizing: border-box;
}

.wordcamp-item:nth-of-type(3n+1) {
	clear: left;
}
