/*
 * todo 4.3-beta1 changed something and now ul.accordion-sub-container.control-panel-content has a ~50px space above it b/c `top` set wrong
 *
 * .accordion-sub-container.control-panel-content left: 300px gets unapplied when switching back and forth between panels.
 * maybe the width has something to do with it, 300px vs 284px.
 */

.control-section-wctc-sites {
	padding: 0 8px;
}

	#wctc-sites {
		overflow: auto;
	}

		/* todo review all the stuff copied from theme switcher, maybe grab some more of the details */

		.wctcSite {	/* todo change everything back to .wctc-site ? */
			position: relative;
			cursor: pointer;
			border: 1px solid #DEDEDE;
			box-shadow: 0 1px 1px -1px rgba( 0, 0, 0, 0.1 );
		}

			.wctc-site-screenshot {
				transition: opacity 0.2s ease-in-out 0s;
			}

				.wctcSite:hover .wctc-site-screenshot {
					opacity: 0.4;
				}

			.wctc-live-preview-label {
				opacity: 0;
				position: absolute;
				top: 35%;
				right: 25%;
				left: 25%;
				background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
				color: #FFF;
				font-size: 15px;
				text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
				font-weight: 600;
				padding: 15px 12px;
				text-align: center;
				border-radius: 3px;
				transition: opacity 0.1s ease-in-out 0s;
			}

				.wctcSite:hover .wctc-live-preview-label {
					opacity: 1;
				}
